#education {
  background-color: #0f0e17;
  padding-bottom: 10px;
}

.activity {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0.1rem auto;
  text-transform: uppercase;
}

.activity:hover {
  background-color: #0f0e17;
  cursor: pointer;
}

hr {
  color: black;
}
