#education{
    background-color: #0F0E17;
    padding-top: 60px;
}

.enter-left{
    animation-name: fade-in-left;
}

.enter-right{
    animation-name: fade-in-right; 
}

.enter-bottom{
    animation-name: fade-in-bottom;
}

.enter-right, .enter-left, .enter-bottom{
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fade-in-left {
    from   { transform:translate(-50px, 0); opacity:0; }
    to { transform:translate(0, 0); opacity:1; }
}

@keyframes fade-in-right {
    from   { transform:translate(50px, 0); opacity:0; }
    to { transform:translate(0, 0); opacity:1; }
}

@keyframes fade-in-bottom {
    from   { transform:translate(0, 50px); opacity:0; }
    to { transform:translate(0, 0); opacity:1; }
}