#education{
  position: absolute;
  top: 0;
  background-color: transparent;
}

#education-container {
  display: flex;
  width: 85%;
  margin: -3rem auto 6rem auto;
}

/* Education Card */

@keyframes glass{
  0% {
    left: -100%
  }
  20%, 100% {
    left: 150%
  }
}

#education-card {
  text-align: center;
  padding: 3rem 1.5rem;
  width: 80%;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  overflow: hidden;
  border-radius: 1rem 3rem;
}

#education-card:before {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transform: skewX(45deg);
  animation: glass 2500ms ease 0s infinite forwards alternate;
}

.activity-card:hover{
  transform: translateY(-10%);
}

.activity-card, .activity-card label{
  cursor: pointer;
}

.school-label {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}

.activity-card {
  border-radius: 1rem 3rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem 0.5rem;
  float: left;
  margin: 1rem auto;
  overflow: hidden;
}

.activity-card:before {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  cursor: pointer;
  transform: skewX(45deg);
  animation: glass 2500ms ease 0s infinite forwards alternate;
}

#activities-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}