#socials-container{
  display: flex;
  align-items: center;
  margin: 1.5rem auto;
  justify-content: "center",
}

.social {
  margin: auto;
  align-items: center;
  display: block;
  cursor: pointer;
}

@keyframes moveup {
  from {
    top: 0;
  }

  to {
    top: -20px;
  }
}

.social .icon:hover{
  position: relative;
  animation: moveup 200ms ease 1 normal forwards;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

.icon{
  margin: 0 auto;
  display: block;
}

.tooltip {
  opacity: 0.6;
  padding: 7px;
  visibility: hidden;
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  position: relative;
  bottom: 0;
}
