.custom-button{
    text-align: center;
    padding: 10px 50px;
    margin: 0 auto;
    font-size: 1rem;
    border-radius: 3rem;
    width: 90%;
    opacity: 0.9;
    box-sizing: border-box;
}

.custom-button:hover{
    opacity: 1;
    cursor: pointer;
}