#custom-button:hover{
    cursor: pointer;
}

#custom-button{
    text-transform: uppercase;
    padding: 10px 50px;
    display: inline-block;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
    width: 30%;
    opacity: 0.6;
    box-sizing: border-box;
}

#custom-button:hover{
    opacity: 0.89;
}