#about-me-body{
  position: absolute;
  top: 10%;
  width: 100%;
}

#profile-picture-main-container {
  width: 100%;
}

#profile-picture-sub-container {
  height: 14rem;
  width: 14rem;
  border-radius: 7rem;
  margin: auto;
  background: rgba(255, 255, 255, 0.3) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
}

#profile-picture {
  position: absolute;
  top: 0.6rem;
  left: calc(50% - (13rem / 2)); /* 50% minus half the div width */
  height: 13rem;
  width: 13rem;
  border-radius: 7.8rem;
  background-size: cover;
  background-repeat: no-repeat;
}