#navigation-bar{
    background-color: transparent;
    /* background-color: rgba(255,255,255,0.5); */
    /* font-size: larger; */
    position: absolute;
    width: 100%;
    display: flex;
    text-align: center;
    padding: 12px 0;
    z-index: 999;
}

.navigation-item{
    padding: 5px;
}
.navigation-item:hover{
    border-bottom: 3px solid #fffffe;
    cursor: pointer;
    /* display: block; */
}