#nav-bar{
  width:100%;
  position: absolute;
  top: 2%;
  z-index: 500;
}

#nav-bar-content{
  width:40%;
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.nav-bar-link label{
  width:100%;
  text-transform: capitalize;
}

.nav-bar-link:hover, .nav-bar-link label:hover{
  cursor: pointer;
}

.nav-bar-link:hover{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
}