#navigation-bar{
    /* background-color: transparent; */
    background-color: #0f0e17;
    /* font-size: larger; */
    position: absolute;
    width: 100%;
    display: flex;
    text-align: center;
    padding: 12px 0;
    z-index: 999;
}

.navigation-item{
    padding: 5px;
    margin: auto;
    text-align: center;
}
.navigation-item:hover{
    border-bottom: 3px solid #fffffe;
    cursor: pointer;
    /* display: block; */
}