#profile-picture-sub-container {
  opacity: 0.6;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: auto;
}

#profile-picture-main-container {
  position: relative;
}

#profile-picture {
  position: absolute;
  top: 0.6rem;
  left: calc(50% - 90px); /* 50% minus half the div width */
  height: 180px;
  width: 180px;
  border-radius: 100px;
}

#socials-container {
  position: absolute;
  top: calc(50% - 144px);
  left: 1.3rem;
}

#custom-button-container {
  text-align: center;
  margin-top: 2rem;
}
