/* Global CSS */
.page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.inline-block-label {
  text-align: center;
}

.inline-block-label-uncentered, .inline-block-label{
  width: 100%;
  display: inline-block;
}

hr {
  color: black;
}

/* Animations */
.enter-left {
  animation-name: fade-in-left;
}

.enter-right {
  animation-name: fade-in-right;
}

.enter-bottom {
  animation-name: fade-in-bottom;
}

.leave-bottom {
  animation-name: fade-out-bottom;
  animation-duration: 1.5s;
}

.roll-in{
  animation-name: roll-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 20500ms;
  opacity: 0;
}

.enter-right,
.enter-left,
.enter-bottom {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in-left {
  from {
    transform: translate(-50px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    transform: translate(50px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  from {
    transform: translate(0, 50px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fade-out-bottom {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(0, 50px);
    opacity: 0;
  }
}

@keyframes roll-in {
  from {
    opacity: 0;
    transform: translate(50px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.show-bottom-console {
  animation-name: show-bottom-console;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes show-bottom-console {
  from {
    opacity: 0;
    width: 1%;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

/* Projects */
.show-bottom {
  animation-name: show-bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes show-bottom {
  from {
    opacity: 0;
    width: 1%;
  }

  to {
    opacity: 1;
    width: 60%;
  }
}
